.nav-container {
  line-height: 60px;
  background-color: rgb(110, 116, 110);
  background-color: black;
}
.nav-link {
  border: 3px solid rgb(142, 116, 177);
  line-height: 15px;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(43, 2, 63);
}
.hight-fixed {
  line-height: 15px;
}

@media only screen and (max-width: 600px) {
  .nav-link {
    width: 50%;
    display: block;
    margin: auto;
  }
}
