.banner {
  background-image: url("../../../images/banner/male-courier-mask-bike-holding-food-box-yellow.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.title-color {
  color: rgb(129, 21, 143);
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 200px;
  }
}
